.App {
  background-color: black;
  height: 100vh;
}

.heading {
  font-size: 4rem;
  width: 45%;
}

.btn {
  background-color: rgb(255, 104, 16);
  padding: 15px 10px 15px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 104, 16, 0.575);
  color: #fff;
}

.head-box {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
}

.vido-box {
  margin-left: 1rem;
}

.titleadd {
  color: rgb(255, 104, 16);
}

.titleadd-h3 {
  float: right;
}

.endadd {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  height: 4rem;
  width: 14rem;
  margin-top: 0.5rem;
}

.image {
  margin-top: -4rem;
  height: 20rem;
  
}

.vid {
  margin-top: -6rem;
}

.inp {
  height: 2rem;
  width: 40rem;
}

.btn-box {
  float: right;
  margin-top: -13rem;
}

.btn-two {
  background-color: rgb(255, 104, 16);
  padding: 15px 10px 15px 10px;
  width: 30rem;
  margin-right: 5rem;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  
}
